<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ana Pereira - Psicoterapeuta Transpessoal</title>
    <link rel="stylesheet" href="/style.css" />
    <!-- Box Icons CSS-->
    <link
      href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
      rel="stylesheet"
    />
    <!-- Swiper CSS -->
    <link rel="stylesheet" href="/style.css.map" />
    <link rel="stylesheet" href="/swiper-bundle.min.css " />
  </head>
  <body>
    <!-- header start -->
    <header class="header">
      <div class="header__container container">
        <a class="header__logo" href="/">
          <img src="assets/img/logo.svg" alt=""  />
        </a>
        <!-- nav trigger start -->
        <div class="header__nav-trigger">
          <i class="bx bx-menu-alt-right"></i>
        </div>
        <!-- nav trigger end -->
        <!-- nav starts -->
        <nav class="nav">
          <ul class="nav__list">
            <li class="nav__item">
              <a class="nav__link" href="/sobre-mim">Sobre Mim</a>
            </li>
            <li class="nav__item"><a class="nav__link" href="/servicos">Serviços</a></li>
           
            <li class="nav__item">
              <a class="nav__link" href="/faq">FAQ</a>
            </li>
            <li class="nav__item">
              <a class="nav__link" href="/contactos">Contactos</a>
            </li>
          </ul>
        </nav>
        <!-- nav ends -->
      </div>
    </header>
    <!-- header End -->


    <section class="section section-primary">
      <div class="section-primary__img center-img">
        <img src="assets/img/undraw_questions_re_1fy7.svg" alt="" />
      </div>
      <div class="section-primary__container container">
        <div class="section-primary__text">
          <section class="container">
            <h3 class="align-title" >Perguntas e respostas</h3>
            <section class="faq__container">
              <div class="accordion">
                <div class="accordion-item">
                  <button id="accordion-button-1" aria-expanded="false">
                    <span class="accordion-title">Onde se realizam as consultas?</span>
                    <span class="icon" aria-hidden="true"></span>
                  </button>
                  <div class="accordion-content">
                    <p>
                      Online ou presencial na zona de Lisboa.
                      Para mais informações contacte-me através do WhatsApp
                    </p>
                </div>
                </div>
                <div class="accordion-item">
                  <button id="accordion-button-2" aria-expanded="false">
                    <span class="accordion-title">Quais são as contra-indicações?</span>
                    <span class="icon" aria-hidden="true"></span>
                  </button>
                  <div class="accordion-content">
                    <p>
                      Existem poucas contra-indicações ou impedimentos. Estes casos excepcionais são despistados durante o primeiro contato ou consulta e encaminhados para um especialista.          
                     
                    </p>
                  </div>
                </div>
                <div class="accordion-item">
                  <button id="accordion-button-3" aria-expanded="false">
                    <span class="accordion-title">Como faço para marcar uma consulta?</span>
                    <span class="icon" aria-hidden="true"></span>
                  </button>
                  <div class="accordion-content">
                    
                      Para marcar consulta ou esclarecer quaisquer dúvidas através de: <br/>
                        WhatsApp: 924169474 <br/>
                       Email: anapereiraterapeutaecoach@gmail.com
                  </div>
                </div>
                <div class="accordion-item">
                  <button id="accordion-button-4" aria-expanded="false">
                    <span class="accordion-title">Qual a duração e o valor da terapia?</span>
                    <span class="icon" aria-hidden="true"></span>
                  </button>
                  <div class="accordion-content">
                    <p>
                      As sessões têm uma duração de 60 minutos e o valor de 40€.
                    </p>
                  </div>
                </div>
                <div class="accordion-item">
                  <button id="accordion-button-5" aria-expanded="false">
                    <span class="accordion-title">De quantas sessões preciso para resolver a minha situação?</span>
                    <span class="icon" aria-hidden="true"></span>
                  </button>
                  <div class="accordion-content">
                    <p>
                      Cada processo tem o seu tempo e não há um prazo pré-estabelecido para ultrapassar e resolver a sua situação. A duração irá depender de diversos fatores sendo adequada em conformidade.
                      
                    </p>
                  </div>
                </div>
                
              </div>
            </section>
            <!-- centering contacts-->
            </section>
        </div>
       
      </div>
    </section>
    <!-- section 2 start -->

    
    <!-- contacts start -->
    
  <div class="contact-section">
    <h1>Fale comigo</h1>
    <div class="border-container"></div>
    <form class="contact-form"  action="https://formsubmit.co/9ee273c4bdd5c05984baebdb8617037e" method="POST" >
      <input type="text" name="name" class="contact-form-text" placeholder="Seu nome" required>
      <input type="email" name="email" class="contact-form-text" placeholder="Email" required>
      <textarea class="contact-form-text" name="message" placeholder="A sua mensagem" required></textarea>
      <input type="hidden" name="_next" value="http://localhost:5500/thankyou">
      <input type="submit" class="contact-form-btn" value="Enviar">
    </form>
  </div>

    <!-- contacts end -->

     <!-- footer start -->
     <footer class="footer section">
      <div class="footer__container container">
        <div class="footer__left">
          <img class="footer__logo" src="assets/img/logo.svg" alt="" />
          <p class="footer__subtitle">
            "Quem olha para fora, sonha. Quem olha para dentro, acorda."
          </p>
          <div class="social">
            <a class="social__link" href="https://www.facebook.com/people/Ana-Pereira-Psicoterapeuta-Transpessoal/100075964567738/">
              <i class="social__icon bx bxl-facebook"></i>
            </a>
            <a class="social__link" href="https://www.instagram.com/anapereirapsicoterapeuta/">
              <i class="social__icon bx bxl-instagram"></i>
            </a>
          </div>
        </div>
        <div class="footer__right">
          <div class="footer__info">
           
          </div>
          <div class="footer__info">
            <h5>Navegação</h5>
            <ul>
              <li><a href="/sobre-mim">Sobre Mim</a></li>
              <li><a href="/servicos">Serviços</a></li>
              <li><a href="/faq">Perguntas e Respostas</a></li>
              <li><a href="/contactos">Contactos</a></li>
            </ul>
          </div>
         
        </div>
      </div>
      <div class="footer__copyright"> Ana Pereira Copyright © 2023. All Rights Reserved.</div>
    </footer>
    <div class="elfsight-app-56eab9b3-eef0-470b-9af6-5cd7e5a2c1a0"></div>
    <!-- footer end -->


    <!-- <div style="height: 4000px"></div> -->

    <!-- Scroll Reveal -->
    <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
    <script src="assets/js/scrollreveal.min.js"></script>
    <!-- Swiper JS -->
    <script src="assets/js/swiper-bundle.min.js"></script> 
    <!-- Main JS -->
    <!-- test icons-->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <script src="assets/js/main.js"></script>
  </body>
</html>
