<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ana Pereira - Psicoterapeuta Transpessoal</title>
    <link rel="stylesheet" href="/style.css" />
    <!-- Box Icons CSS-->
    <link
      href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
      rel="stylesheet"
    />
    <!-- Swiper CSS -->
    <link rel="stylesheet" href="/style.css.map" />
    <link rel="stylesheet" href="/swiper-bundle.min.css " />
  </head>
  <body>
  <!-- header start -->
  <header class="header">
    <div class="header__container container">
      <a class="header__logo" href="/">
        <img src="assets/img/ana-pereira-logo.png" style="height: 50px;" alt=""  />
      </a>
      <!-- nav trigger start -->
      <div class="header__nav-trigger">
        <i class="bx bx-menu-alt-right"></i>
      </div>
      <!-- nav trigger end -->
      <!-- nav starts -->
      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__item">
            <a class="nav__link" href="/sobre-mim">Sobre Mim</a>
          </li>
        
         
          <li class="nav__item">
            <a class="nav__link" href="/faq">Perguntas Frequentes</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="/contactos">Contactos</a>
          </li>
        </ul>
      </nav>
      <!-- nav ends -->
    </div>
  </header>
  <!-- header End -->

    <!-- hero start -->
    <section class="hero" id="about">
      <div class="hero__container container">
        <div class="hero__left">
          <h1 class="hero__title">Ana Pereira</h1>
          <h4 class="hero__subtitle">Psicoterapeuta Intrapessoal</h4>
          <p class="hero__subtitle subtitle">
            Acredito que cada indivíduo tem dentro de si as ferramentas para a cura e para o seu desenvolvimento. O meu papel é o de facilitar o processo de busca interior e de cura que permite chegar a um estado melhor
          </p>
          <a href="/sobre-mim">
          <button class="hero__btn btn btn--primary">Saber Mais</button>
          </a>
          <a href="/contactos">
          <button class="hero__btn btn btn--outline">Agendar uma sessão</button>
          </a>
        </div>
        <div class="hero__right">
          <div class="hero__img">
            <img src="assets/img/ana-profile.jpg" alt="" />
          </div>
        </div>
      </div>
    </section>
    <!-- hero end -->

    <!-- features start -->
    <section class="features" id="">
      <div class="container">
        <div class="feature__subtitle pretitle companies">Mude a sua vida.</div>
        <h3 class="feature__subtitle companies">Áreas de Intervenção</h3>
      
      <div class="features__container container">
        
        <div class="feature">
          <div class="feature__img">
            <img src="assets/img/ansiedade.png" alt="" />
          </div>
          <h4 class="feature__title">Ansiedade</h4>
          <p class="feature__subtitle">
            Ansiedade é uma resposta emocional normal a situações stressantes.
          </p>
        </div>
        <div class="feature">
          <div class="feature__img">
            <img src="assets/img/fobia.png" alt="" />
          </div>
          <h4 class="feature__title">Fobias e Medos</h4>
          <p class="feature__subtitle">Fobias e medos são reações emocionais intensas e irracionais a situações específicas.
          </p>
        </div>
        <div class="feature">
          <div class="feature__img">
            <img src="assets/img/depressao.png" alt="" />
          </div>
          <h4 class="feature__title">Depressão e Luto</h4>
          <p class="feature__subtitle">
            Depressão é uma condição mental comum que pode afetar negativamente o nosso dia-a-dia.
          </p>
        
        </div>
        <a class="feature__link" href="">Saber mais</a>
      </div> 
      </div>
       <!-- centering services page-->
       <section id="services"></section>
    </section>

    <!-- tecniques start -->
    <section class="features">
      <div class="container">
      <div class="feature__subtitle pretitle companies" style="margin-top: 40px;">Técnicas usadas</div>
      <h3 class="feature__subtitle companies">O que posso fazer por si</h3>
      
      <div class="features__container container">
        
        <div class="feature">
          <div class="feature__img">
            <img src="assets/img/consultation.png" alt="" />
          </div>
          <h4 class="feature__title">Psicoterapia</h4>
          <p class="feature__subtitle">
            Psicoterapia é o tratamento de problemas psicológicos ou emocionais por meio da conversa com um terapeuta.

          </p>
    
        </div>
        <div class="feature">
          <div class="feature__img">
            <img src="assets/img/therapy.png" alt="" />
          </div>
          <h4 class="feature__title">Hipnoterapia</h4>
          <p class="feature__subtitle">
            A Hipnoterapia é uma psicoterapia que usa hipnose para mudar comportamento e resolver questões psicológicas.
          </p>
       
        </div>
        <div class="feature">
          <div class="feature__img">
            <img src="assets/img/terapia.png" alt="" />
          </div>
          <h4 class="feature__title">Terapia regressiva</h4>
          <p class="feature__subtitle">
            Terapia Regressiva é uma psicoterapia que usa memórias passadas para entender e tratar questões atuais.
          </p>
 
        </div>
        <div class="feature">
          <div class="feature__img">
            <img src="assets/img/leadership.png" alt="" />
          </div>
          <h4 class="feature__title">Coaching</h4>
          <p class="feature__subtitle">
            Coaching é um processo de desenvolvimento pessoal orientado por um coach, para ajudar atingir metas.
          </p>
      
        </div>
        <div class="feature">
          <div class="feature__img">
            <img src="assets/img/reiki.png" alt="" />
          </div>
          <h4 class="feature__title">Cura Energética</h4>
          <p class="feature__subtitle">
            Cura Energética é uma prática que busca equi no corpo para promover a saúde física, emocional e espiritual.
          </p>
         
        </div>
        <div class="feature">
          <div class="feature__img">
            <img src="assets/img/positive.png" alt="" />
          </div>
          <h4 class="feature__title">Pnl</h4>
          <p class="feature__subtitle">
            PNL (Programação NeuroLínguistica) é uma abordagem para melhorar comportamentos e pensamentos.
          </p>
        
        </div>
        <a class="feature__link" href="">Saber mais</a>
      </div> 
      <p class="features__explore-text">
        Qualquer dúvida que tenha, não hesite em contactar via WhatsApp.
        <a href="/contactos"> Ou por email </a>
      </p>
      </div>
      
    </section>
    <!-- features end -->
    <!-- Quote -->
    <!-- <section>
      <blockquote>
       A relação interpessoal é a chave que abre todas as portas.</a>
        </cite>
    </blockquote>
    </section> -->
    <!-- Quote end-->    

    <!-- section 1 start -->
    <section class="section section-primary">
      
      <div class="section-primary__container container">
        <div class="section-primary__img">
          <img src="assets/img/img2.jpg" alt="" />
        </div>
        <div class="section-primary__text">
          <h2>
            A minha abordagem
          </h2>
          <div class="section-primary__text-group">
            <p class="section-primary__subtitle subtitle "> 
              considero a relação cliente-terapeuta fundamental no processo terapêutico. A escuta ativa, o apoio, a confiança, o respeito pela velocidade e tempo de cada processo pessoal, a adequação do método à proposta de trabalho e o feedback são cruciais.
               
            </p>
              <!-- 
            <span class="section-primary__number">1</span>-->
          </div>
            <a href="/sobre-mim">
              <button class="hero__btn btn btn--primary">Descobra Mais</button>
              </a>
        </a>
        </div>
      </div>
    </section>

    <!-- section 2 start -->
    <section class="section section-primary">
      <div class="section-primary__container container">
        <div class="section-primary__text">
          <h2>Desperte a sua dimensão espiritual</h2>
          <div class="section-primary__text-group">
          <p class="section-primary__subtitle subtitle">
              A abordagem que mais me identifica é a transpessoal. Sempre procurei entender as necessidades e desafios dos meus clientes de maneira profunda e abrangente. Acredito que a realização pessoal e a evolução da consciência estão ligadas à nossa capacidade de transcender nossos egos e nos conectar com uma fonte de sabedoria interior.
            </p>
              <!-- 
            <span class="section-primary__number">2</span>-->
          </div>
          <a href="/contactos">
          <button class="btn btn--primary">Marque uma sessão</button>
        </a>
        </div>
        <div class="section-primary__img">
          <img src="assets/img/img3.jpg" alt="" />
        </div>
      </div>
    </section>
    <!-- section 2 end -->

    <!-- section 3 start -->
    <section class="section section-primary">
      <div class="section-primary__container container">
        <div class="section-primary__img">
          <img src="assets/img/buda.jpg" alt="" />
        </div>
        <div class="section-primary__text">
          <h2>Descobra se é para si</h2>
          <div class="section-primary__text-group">
            <p class="section-primary__subtitle subtitle">
              Na secção de perguntas e respostas abaixo, encontre as perguntas mais comuns sobre as sessões. Saiba mais sobre o processo de terapia, expectativas e disponibilidade de horários. Qualquer dúvida, consulte a seção.
            </p>
            <!-- 
            <span class="section-primary__number">3</span>-->
          </div>
          <a href="/faq">
          <button class="btn btn--primary" >Perguntas e Respostas</button>
        </a>
        </div>
      </div>
    </section>
    <!-- section 3 end -->


    
    <!-- testimonials start -->
    <section class="testimonials section">
      <div class="container white" >
        <div class="testimonials__pretitle pretitle">Testemunhos</div>
        <h3 class="testimonials__title">O que dizem sobre as sessões</h3>
        <div class="swiper slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="slider__item">
               
                <h4 class="slider__client-name">Joana Martins</h4>
                <div class="slider__client-type">Cliente Satisfeito</div>
                <p class="slider__client-message">
                  "Desde que comecei a trabalhar com a Ana, minha vida mudou completamente. Ela ajudo-me a entender e superar questões emocionais que eu nunca imaginei ser possível. Sua abordagem transpessoal é única e transformadora e a sua sabedoria e compaixão são realmente inspiradoras."
                </p>
                <div class="slider__client-stars">
                  <i class="bx bxs-star"></i>
                  <i class="bx bxs-star"></i>
                  <i class="bx bxs-star"></i>
                  <i class="bx bxs-star"></i>
                  <i class="bx bxs-star"></i>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="slider__item">
                <h4 class="slider__client-name">Rita Martins</h4>
                <div class="slider__client-type">Cliente Satisfeito</div>
                <p class="slider__client-message">
                  "A Ana tem uma abordagem única e eficaz que realmente ajuda as pessoas a superar desafios emocionais e encontrar um caminho para a realização pessoal. Eu recomendo a Ana a qualquer pessoa que procura uma jornada transformadora de autoconhecimento."
                </p>
                <div class="slider__client-stars">
                  <i class="bx bxs-star"></i>
                  <i class="bx bxs-star"></i>
                  <i class="bx bxs-star"></i>
                  <i class="bx bxs-star"></i>
                  <i class="bx bxs-star"></i>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="slider__item">
                <h4 class="slider__client-name">Joaquim Sousa</h4>
                <div class="slider__client-type">Cliente Satisfeito</div>
                <p class="slider__client-message">

                  "A Ana é incrivelmente talentosa e tem uma habilidade única de ajudar as pessoas a chegar ao seu verdadeiro potencial. Ela ajudou-me a encontrar uma nova perspectiva sobre a vida e a experimentar uma sensação de paz e realização interior que eu nunca tinha experimentado antes."
                </p>
                <div class="slider__client-stars">
                  <i class="bx bxs-star"></i>
                  <i class="bx bxs-star"></i>
                  <i class="bx bxs-star"></i>
                  <i class="bx bxs-star"></i>
                  <!-- centering faq -->
                  <section id="faq"></section>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
  
    </section>
    <!-- testimonials end -->

    <!-- contacts start -->
    
  <div class="contact-section">
    <h1>Fale comigo</h1>
    <div class="border-container"></div>
    <form class="contact-form"  action="https://formsubmit.co/9ee273c4bdd5c05984baebdb8617037e" method="POST" >
      <input type="text" name="name" class="contact-form-text" placeholder="Seu nome" required>
      <input type="email" name="email" class="contact-form-text" placeholder="Email" required>
      <textarea class="contact-form-text" name="message" placeholder="A sua mensagem" required></textarea>
      <input type="hidden" name="_next" value="http://localhost:5500/thankyou">
      <input type="submit" class="contact-form-btn" value="Enviar">
    </form>
  </div>

    <!-- contacts end -->

    <!-- footer start -->
    <footer class="footer section">
      <div class="footer__container container">
        <div class="footer__left">
          <img class="footer__logo" src="assets/img/logo.svg" alt="" />
          <p class="footer__subtitle">
            "Quem olha para fora, sonha. Quem olha para dentro, acorda." <br/> 
            - Carl Jung
          </p>
         
          <div class="social">
            <a class="social__link" href="https://www.facebook.com/people/Ana-Pereira-Psicoterapeuta-Transpessoal/100075964567738/">
              <i class="social__icon bx bxl-facebook"></i>
            </a>
            <a class="social__link" href="https://www.instagram.com/anapereirapsicoterapeuta/">
              <i class="social__icon bx bxl-instagram"></i>
            </a>
          </div>
        </div>
        <div class="footer__right">
          <div class="footer__info">
           
          </div>
          <div class="footer__info">
            <h5>Navegação</h5>
            <ul>
              <li><a href="/sobre-mim">Sobre Mim</a></li>
              <li><a href="/servicos">Serviços</a></li>
              <li><a href="/faq">Perguntas e Respostas</a></li>
              <li><a href="/contactos">Contactos</a></li>
            </ul>
          </div>
         
        </div>
      </div>
      <div class="footer__copyright"> Ana Pereira Copyright © 2023. All Rights Reserved.</div>
    </footer>
    <div class="whats-float">
      <a href="https://wa.me/924169474"
         target="_blank">
          <i class="bx bxl-whatsapp"></i><span>WhatsApp<br><small>+351 924169474</small></span>
      </a>
  </div>
   
    <!-- footer end -->

    <!-- <div style="height: 4000px"></div> -->

    <!-- Scroll Reveal -->
  
    <script src="assets/js/scrollreveal.min.js"></script>
    <!-- Swiper JS -->
    <script src="assets/js/swiper-bundle.min.js"></script> 
    <!-- Main JS -->
    <!-- test icons-->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script type="text/javascript" src="jquery-3.3.1.min.js"></script>
   
    <script src="assets/js/main.js"></script>
  </body>
</html>
