<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/style.css" />
    <!-- Box Icons CSS-->
    <link
      href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
      rel="stylesheet"
    />
    <!-- Swiper CSS -->
    <link rel="stylesheet" href="/style.css.map" />
  </head>
  <body>
    <!-- header start -->
    <header class="header">
      <div class="header__container container">
        <a class="header__logo" href="/">
          <img src="assets/img/logo.svg" alt=""  />
        </a>
        <!-- nav trigger start -->
        <div class="header__nav-trigger">
          <i class="bx bx-menu-alt-right"></i>
        </div>
        <!-- nav trigger end -->
        <!-- nav starts -->
        <nav class="nav">
          
        <!-- nav ends -->
      </div>
    </header>
    <!-- header End -->
   
    <div class="container-thankyou">
    <section class="companies section">
        <div class="companies__container container">
          <div class="companies__pretitle pretitle">Enviado com sucesso</div>
          <h3 class="companies__title">Obrigado!</h3>
          <i class="fa fa-check fa-5x check" id="checkmark" style="height: 200px;"></i>
          <p style="text-align: center;" data-lead-id="main-content-body">
            Entrarei em contacto consigo brevemente :)</p>
        </div>
      </section>
    </div>


 

    <!-- <div style="height: 4000px"></div> -->

    <!-- Scroll Reveal -->
    <script src="assets/js/scrollreveal.min.js"></script>
    <!-- Swiper JS -->
    <script src="assets/js/swiper-bundle.min.js"></script>
    <!-- Main JS -->
    <script src="assets/js/main.js"></script>
  </body>
</html>
